.ele-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ele-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.ele-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.ele-heading {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.ele-text {
  margin-right: var(--dl-space-space-threeunits);
}
.ele-navlink {
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-decoration: none;
}
.ele-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.ele-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: var(--dl-radius-radius-radius4);
}
.ele-button {
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
}
.ele-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .ele-banner {
    flex-direction: column;
  }
  .ele-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .ele-text {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .ele-container2 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .ele-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ele-text {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .ele-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .ele-container2 {
    align-items: center;
    flex-direction: column;
  }
  .ele-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
